Repository BenB-Code/Whoiam: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{ts,html}": ["prettier --write", "eslint --fix"],
  "*.{scss,json}": ["prettier --write"]
}

implementation of resize events on windows. Add to store size handling.
  .lintstagedrc.json
  eslint.config.js
  src/app/common/components/content-window/content-window.html
  src/app/common/components/content-window/content-window.scss
  src/app/common/components/content-window/content-window.ts
  src/app/common/components/listing-window/listing-window.html
  src/app/common/components/listing-window/listing-window.scss
  src/app/common/components/listing-window/listing-window.ts
  src/app/common/directives/window-actions.ts
  src/app/common/models/window-component.abstract.ts
  src/app/services/drag-n-drop/drag-n-drop.service.ts
  src/app/services/window-manager/window-manager.service.ts
  src/app/store/window-manager/actions/window.actions.ts
  src/app/store/window-manager/constants/default-positions.const.ts
  src/app/store/window-manager/constants/default-resize-is-disabled.const.ts
  src/app/store/window-manager/constants/default-sizes.const.ts
  src/app/store/window-manager/constants/default-values.const.ts
  src/app/store/window-manager/models/index.ts
  src/app/store/window-manager/models/position-update.type.ts
  src/app/store/window-manager/models/position.type.ts
  src/app/store/window-manager/models/window.type.ts
Due: prettier --write, eslint --fix

add new parameters in html files
  src/app/features/contact/contact.html
  src/app/features/experiences/experiences.html
  src/app/features/home/home.html
  src/app/features/projects/projects.html
Due: prettier --write, eslint --fix

new reducer with resize
  src/app/store/window-manager/reducers/window.reducer.ts
Due: prettier --write, eslint --fix

remove dead code
  src/styles.scss
Due: prettier --write

quick style fix
  src/app/common/components/bubble/bubble.scss
  src/app/features/app-bar/app-bar.scss
  src/app/features/contact/contact.scss
Due: prettier --write

change style to match container size and not media anymore
  src/app/features/home/home.scss
  src/app/features/projects/projects.scss
Due: prettier --write

add common component for resize handle
  src/app/common/components/content-window/content-window.ts
  src/app/common/components/listing-window/listing-window.html
  src/app/common/components/listing-window/listing-window.ts
  src/app/common/components/resize-handle/resize-handle.html
  src/app/common/components/resize-handle/resize-handle.scss
  src/app/common/components/resize-handle/resize-handle.spec.ts
  src/app/common/components/resize-handle/resize-handle.ts
  src/styles.scss
Due: prettier --write, eslint --fix

implem in content-window
  src/app/common/components/content-window/content-window.html
Due: prettier --write, eslint --fix

define coherent min width and height
  src/app/common/directives/window-actions.ts
Due: prettier --write, eslint --fix

define coherent min width and height
  src/app/features/contact/contact.html
  src/app/features/home/home.html
  src/app/features/projects/projects.html
Due: prettier --write, eslint --fix

fixing projects display on size change
  src/app/features/projects/projects.scss
Due: prettier --write

fixing experiences display on size change
  src/app/common/components/listing-window/listing-window.scss
  src/app/features/experiences/components/details/details.scss
  src/app/features/experiences/experiences.html
Due: prettier --write, eslint --fix

update resize boundary to avoid outside screen resizing
  src/app/app.html
  src/app/common/directives/window-actions.ts
Due: prettier --write, eslint --fix

add missing %
  src/app/store/window-manager/constants/default-positions.const.ts
Due: prettier --write, eslint --fix

fixing tests according to new data format
  eslint.config.js
  src/app/common/components/content-window/content-window.spec.ts
  src/app/common/components/listing-window/listing-window.spec.ts
  src/app/services/drag-n-drop/drag-n-drop.service.spec.ts
  src/app/services/window-manager/window-manager.service.spec.ts
  src/app/store/window-manager/actions/window.actions.spec.ts
  src/app/store/window-manager/constants/default-values.const.spec.ts
  src/app/store/window-manager/reducers/window.reducer.spec.ts
  src/app/store/window-manager/selectors/window.selector.spec.ts
Due: prettier --write, eslint --fix

add missing tests
  src/app/services/window-manager/window-manager.service.spec.ts
  src/app/store/window-manager/reducers/window.reducer.spec.ts
Due: prettier --write, eslint --fix

add missing tests
  src/app/common/directives/window-actions.spec.ts
Due: prettier --write, eslint --fix

change contact email
  src/assets/data/contact.json
Due: prettier --write

potential ios fix on wondw-content displaying
  src/app/common/components/content-window/content-window.scss
  src/app/common/components/window-header/window-header.scss
Due: prettier --write

fix healthcheck on prod release
  docker/compose/docker-compose.prod.yml
Due: none

fix isssues with heights
  src/app/store/window-manager/constants/default-sizes.const.ts
Due: prettier --write, eslint --fix

fix word breaking
  src/app/features/header-bar/header-bar.scss
Due: prettier --write

fix touchs event incompatible with mac env
  src/app/common/directives/window-actions.ts
Due: prettier --write, eslint --fix

add icons
  src/assets/icons/close.svg
  src/assets/icons/maximize-left.svg
  src/assets/icons/minimize-left.svg
  src/assets/icons/reduce.svg
Due: none

icons integration into header-bar
  src/app/common/components/content-window/content-window.html
  src/app/common/components/listing-window/listing-window.html
  src/app/common/components/window-header/window-header.html
  src/app/common/components/window-header/window-header.scss
  src/app/common/components/window-header/window-header.ts
Due: prettier --write, eslint --fix

Add missings tests
  src/app/common/components/window-header/window-header.spec.ts
  src/app/store/window-manager/constants/default-values.const.spec.ts
  src/app/store/window-manager/reducers/window.reducer.spec.ts
  src/app/store/window-manager/selectors/window.selector.spec.ts
Due: prettier --write, eslint --fix

dd seo files
  public/robots.txt
  public/sitemap.xml
Due: none

change index.html and favicon
  public/favicon.ico
  src/index.html
Due: prettier --write, eslint --fix

add double click handling on fullscreen quick fix on icon whom doesn't have to be displayed on hover when btn disabled
  src/app/common/components/window-header/window-header.html
  src/app/common/components/window-header/window-header.spec.ts
  src/app/common/components/window-header/window-header.ts
  src/styles.scss
Due: prettier --write, eslint --fix

add server_name and redirect for http ip direct access
  docker/nginx.conf
Due: none

remove return statement after testing
  docker/nginx.conf
Due: none

Update Docker image tag and move 'latest' after version number
  .github/workflows/release.yml
Due: none

Remove 'latest' tag from release workflow
  .github/workflows/release.yml
Due: none

Add 'latest' tag to Docker image in release workflow
  .github/workflows/release.yml
Due: none

Add release and version badges to README
  README.md
Due: none

Update README with technology badges and release info
  README.md
Due: none

Update README.md
  README.md
Due: none

update readme.md
  README.md
Due: none

quick fixs and add missing links
  README.md
Due: none
